body {
    background-color: darkblue;
}
.banner {
    background-color: lightblue;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 200px;
}